@page "/"

<div class="row-layout master-view-container">
    <IgbTree class="tree" master-view-scope>
        <IgbTreeItem Label="Design" Expanded="true">
            <IgbTreeItem Label="Figma" Expanded="true"></IgbTreeItem>
            <IgbTreeItem Label="Adobe XD" Expanded="true"></IgbTreeItem>
            <IgbTreeItem Label="Sketch" Expanded="true"></IgbTreeItem>
        </IgbTreeItem>
        <IgbTreeItem Label="Development" Expanded="true">
            <IgbTreeItem Label="Angular" Expanded="true"></IgbTreeItem>
            <IgbTreeItem Label="Blazor" Expanded="true"></IgbTreeItem>
            <IgbTreeItem Label="Web components" Expanded="true"></IgbTreeItem>
        </IgbTreeItem>
    </IgbTree>
</div>

@code {
}
