.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.tree {
    min-width: max-content;
    min-height: max-content;
    flex-shrink: 0;
}
